html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

@media only screen and (min-width: 406px) and (max-width: 1170px) {

  #monkey {
    position: absolute;
    top: 100px;
  }
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}
