html {
  background: url(../images/croc.jpg) no-repeat top left;
}

@media only screen and (max-width: 1300px) {

  #ostrich {
    position: absolute;
    bottom: 100px;
  }
}

#ostrich {
  position: absolute;
  top: 50px;
  right: 0;
}

/* Write your solution here */
